{% extends "_base.html" %}

{% block obsah %}
<style>
    [data-otazka]:not(:first-child) {
        display: none;
    }
</style>

<div id="kviz" class="p-4">
    <div>
        <p id="postupText"></p>
        <progress id="postup" value="0" max="100"></progress>
    </div>

    <div>
        {% for Otazka in kviz.Otazky %}
            <section data-otazka>
                {{ Otazka.Html()|safe }}

                {% for Odpoved in otazka.Odpovede %}
                    {{ Odpoved.Html()|safe }}
                {% endfor %}
            </section>
        {% endfor %}
    </div>

    <div class="flex flex-row justify-between gap-2">
        <button class="p-2 font-bold bg-yellow-500 rounded-lg" id="predchadzajucaOtazka">Predchádzajúca</button>
        <button class="p-2 font-bold bg-yellow-500 rounded-lg" id="dalsiaOtazka">Ďalšia</button>
        <button class="p-2 font-bold bg-yellow-500 rounded-lg y-4 justify-self-end" id="skontrolovatOdpovede">Skontrolovať odpovede</button>
    </div>
</div>
{% endblock obsah %}
