{% extends "_base.html" %}

{% block obsah %}
<div class="flex-grow p-5 text-gray-900 bg-gray-200 dark:bg-gray-900 dark:text-gray-100">
  <h1 class="mb-4 text-3xl font-bold">Zoznam poznámok</h1>
  <ul class="space-y-4">
    {% for poznamka in zoznam_poznamok %}
    <li>
      <a href="{{ poznamka.VystupnaCesta() }}" class="text-blue-500 hover:underline">
        {{ poznamka.Nazov }}
      </a>
      <p class="text-sm text-gray-500">
        Upravené: {{ poznamka.DatumUpravy }}
      </p>
      <ul class="pl-5 list-disc">
        {% for subor in poznamka.PrilozeneSubory %}
        <li>{{ subor }}</li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock obsah %}
